@model Messenger_Kings.Models.Booking

@{
    ViewBag.Title = "SuccessfulBooking";
}



<br />
<br />
<div class="shadow p-3 mb-5 bg-white rounded">
 
    <div class="jumbotron">
        <h2>Your Booking Is Successful</h2>
        <h4>You will be notified when your order has been approved!</h4>
        <p class="lead">
            <div class="row">

                <a href='@Url.Action("Index", "Bookings")' class="btn btn-warning">View My Orders</a>

                <a href='@Url.Action("Index", "Home")' class="btn btn-secondary">Back to Home</a>
            </div>
        </p>
    </div>


</div>

