@model Messenger_Kings.Models.Document

@{
    ViewBag.Title = "fullScreenResidence";
}

<style>

    .table {
        padding: 30px;
    }
</style>
<div class="table">

    @if (Model.Document_Residence != null)
    {
        var base64 = Convert.ToBase64String(Model.Document_Residence);
        var imgsrc = string.Format("data:application/pdf;base64,{0}", base64);
        <embed src='@imgsrc' height="700" width="100%" />
    }

</div>