@{

}

<style>
</style>
<br />
<br />
<div class="shadow p-3 mb-5 bg-white rounded">

    <title>Messenger King - About</title>
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>About Us</h2>

                </div>

            </div>
            <hr />
        </section><!-- End Breadcrumbs -->
        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
            <div class="container">

                <div class="row">

                    <div class="col-lg-8 entries">

                        <article class="entry" data-aos="fade-up">

                            <div class="entry-img">
                                <img src="~/Layout/Boostrap/img/102858806 (1).jpg" alt="" class="img-fluid">
                            </div>

                            <h2 class="entry-title">
                                <a>Our History</a>
                            </h2>

                            <div class="entry-content">
                                <p>
                                    Messenger King is a proudly South African Legal, Shipping and Corporate Sectors courier services organisation founded in 1996 by Roger Govender in KwaZulu-Natal. The organisation was established when Govender decided to go out on his own the company he was working for, Document Xchange a private consortium, was sold to the post office.
                                </p>
                                Over the years the organisation has grown from only servicing legal entities surrounding Durban, to having a footprint servicing over 1500 clients in the KZN and parts of Gauteng. Messenger King is just one of a few companies that has been awarded an Unreserved Postal Service Certificate from ICASA in recognition of its professional establishment.
                                <p>
                                    The organization thrives and protects its highly regarded value of personal touch with which has gained it the confidence in the services it offers to its clients.
                                </p>
                                <p>
                                    The organisation not only gives back to the community through job creation, but also through the MK Crisis Care, a project started 10 years ago to help feed the destitute. The staff of Messenger King are highly involved in the initiative, taking care of everything from the cooking to the dishing up of the food.
                                </p>
                            </div>

                        </article><!-- End blog entry -->



                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>


        </section><!-- End Blog Section -->
        <hr />
    </main><!-- End #main -->

    </div>
    <!-- Template Main JS File -->
    @Scripts.Render("~/Layout/Boostrap/js")
    <!-- Vendor JS Files -->
    @Scripts.Render("~/Layout/Boostrap/jquery")

    @Styles.Render("~/Layout/Boostrap/vendor/")
    @Styles.Render("~/Layout/Boostrap/css")
