@{
}


<title>Messenger King - Contact</title>

<br />
<br />
<div class="shadow p-3 mb-5 bg-white rounded">
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->

        <div class="container">


            <h2>Contact</h2>
            <hr />


        </div>

        <!-- ======= Contact Section ======= -->
        <div class="map-section">
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d3465.391355409538!2d31.0322233!3d-29.708421!3m2!1i1024!2i768!4f13.1!4m8!3e2!4m0!4m5!1s0x1ef7050033b56acd%3A0x37011e94403c560a!2s32%20Marshall%20Dr%2C%20Mount%20Edgecombe%2C%204302!3m2!1d-29.708420999999998!2d31.034412!5e0!3m2!1sen!2sza!4v1594661317571!5m2!1sen!2sza" frameborder="0" allowfullscreen></iframe>
        </div>

        <section id="contact" class="contact">
            <div class="container">

                <div class="row justify-content-center" data-aos="fade-up">

                    <div class="col-lg-10">

                        <div class="info-wrap">
                            <div class="row">
                                <div class="col-lg-4 info">
                                    <i class="icofont-google-map"></i>
                                    <h4>Location:</h4>
                                    <p>32 Marshall Drive, Mount Edgecomb<br>Durban, 4302</p>
                                </div>

                                <div class="col-lg-4 info mt-4 mt-lg-0">
                                    <i class="icofont-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>info@messengerking.co.za</p>
                                </div>

                                <div class="col-lg-4 info mt-4 mt-lg-0">
                                    <i class="icofont-phone"></i>
                                    <h4>Call:</h4>
                                    <p>+031 566 1604</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>



            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    </div>
    <!-- Template Main JS File -->
    @Scripts.Render("~/Layout/Boostrap/js")
    <!-- Vendor JS Files -->
    @Scripts.Render("~/Layout/Boostrap/jquery")

    @Styles.Render("~/Layout/Boostrap/vendor/")
    @Styles.Render("~/Layout/Boostrap/css")
