@model IEnumerable<Messenger_Kings.Models.ClientCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Types Of Clients</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientCat_Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientCat_Type)
        </td>
       
    </tr>
}

</table>
